**/Generated.xcconfig
**/Pods/
**/.symlinks/
**/profile
**/xcuserdata
**/.xccheckout
**/.xcworkspace
**/Flutter/App.framework
**/Flutter/Flutter.framework
**/Flutter/Flutter.podspec
**/Flutter/Generated.xcconfig
**/Flutter/ephemeral
**/Flutter/app.flx
**/Flutter/app.zip
**/Flutter/flutter_assets/
**/Flutter/flutter_export_environment.sh
**/ServiceDefinitions.json
**/Runner.ipa
**/Flutter/Flutter.framework
**/Flutter/Flutter.podspec
**/Flutter/Generated.xcconfig
**/Flutter/ephemeral
**/Flutter/flutter_export_environment.sh
.DS_Store
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/xcshareddata/WorkspaceSettings.xcsettings
**/xcshareddata/xcschemes/*.xcscheme
!default.pbxuser
!default.perspectivev3
